html, body {
  height: 100%;
  margin: 0;
}

/* Home Start */
.home-banner {
  top: 0;
  left: 0;
  background: no-repeat center fixed;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  background-size: cover;
  filter: grayscale(30%);
  /* filter: saturate(70%); */
  filter: brightness(80%);
}

.home {
  width: 100vw;
  height: 100vh;
}

.home-text {
  position: absolute;
  bottom: 50%;
  left: 10%;
  text-align: left;
  color: white;
}

.home-text h1 {
  font-size: 5.5em;
  font-weight: bold;
}
.home-text h3 {
  font-size: 2.5em;
  font-weight: bold;
}

/* Home End */

/* Bookings Start */

.dashboard-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 20px;
}

.booking-widget {
  /* border: 1px solid gray; */
  width: 70%;
  height: 50%;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.booking-widget img {
  width: 100%;
  height: 100%;
}

.booking-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F1EDDF;
}

/* Bookings End */

/* Adoption Start */

.Adoption {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row {
  flex: 1 1 auto;
}

.column {
  flex: 50%;

}

.adoption-left-column {
  background-color: #F1EDDF;
}

.adoption-text {
  margin: 50px;
  text-align: left;
}

.adoption-right-column {
  overflow-x: hidden;
  overflow-y: auto;
}

.reviews {
  background-color: aliceblue;
  width: 100%;
}

/* Adoption End */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
