html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

/* Navigation Start */

.navbar>.container>div>Link {
  font-size: large;
}

.nav-links {
  display: flex;
  color: white;
}

.nav-contact p{
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: x-small;
}

/* Navigation End */

/* Home Start */

.home {
  width: 100%;
  height: 100vh;
}

.home-banner {
  top: 0;
  left: 0;
  background: no-repeat center fixed;
  width: 100%;
  height: 100%;
  background-size: contain;
  filter: grayscale(30%);
  /* filter: saturate(70%); */
  filter: brightness(80%);
}

.home-text {
  position: absolute;
  bottom: 25%;
  left: 4%;
  text-align: left;
  color: white;
}

.home-text h1 {
  font-size: 5.5em;
  font-weight: bold;
}
.home-text h3 {
  font-size: 2.5em;
  font-weight: bold;
}

/* Home End */

/* Bookings Start */

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

Booking {
  justify-items: center;
  align-items: center;
}

.booking-widget {
  width: 375px;
  height: 200px;
  margin: 50px;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 75%;
  top: 50%;
}

button a, button a:hover {
  color: black;
  text-decoration: none;
}

.booking-widget img {
  width: 100%;
  height: 100%;
}

.booking-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F1EDDF;
  height: 50px;
}
.booking-footer p {
  align-items: center;
  justify-items: center;
}

/* Bookings End */

/* Adoption Start */

.Adoption {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.column {
  flex: 50%;
}

.adoption-left-column {
  background-color: #F1EDDF;
}

.adoption-right-column h1 {
  text-align: left;
  margin-left: 25%;
  margin-top: 50px;
}

.adoption-text {
  margin: 50px;
  text-align: left;
}

.Accordion {
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.reviews-scroll {
  height: 50%;
  width: 50%;
  top: 50%;
  align-self: center;
  margin-left:25%;
  overflow-y: auto;
}

.review-widget div {
  text-align: left;
}

/* Adoption End */

.album-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 20px;
  align-items: center;
}
.album-grid img{
  width: 80%;
}

/* Photo Album Start */

.PhotoAlbum h1 {
  text-align: left;
  margin-left: 15px;
}

/* Photo Album End */



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
